{% extends "website/template_wizard/template_wizard.html" %}

{% block above_form %}
    
    <div "h6 text-gray-400 mb-4">
        <p class="h6 text-gray-400 mb-2">The Archive Template is ready to be created.</p>
        <p class="h6 text-gray-400 mb-2">To make sure there are no errors, manually check the Last record of the newly scraped data:</p>

        {% comment %} <table class="table table-bordered dataTable">{{ archive_data }}</table> {% endcomment %}
        <p>{{ archive_data }}</p>

    </div>
        
{% endblock %}

{% block below_form %}
{% endblock %}