{% extends "user_profile/base_container.html" %}

{% block inner_content %}
	<div class="text">
		<p class="h5 text-gray-400 mb-4">The Website Idea:</p>
	    <p class="text-gray-400 mb-2 row">
			At this point in time, the site was created for educational purposes as a portfolio project.<br/>
			The idea of the site came with the following question:<br/>
			What happens if you save the weather forecast data and then compare it with the actual weather that has occurred?<br/>
			Thus, it will be possible to graphically evaluate which of the services is most accurate in certain conditions.<br/>
			The task of covering the whole world and all available public data of weather sites is difficult for me at the moment.<br/>
			Therefore, if you would like to see the location you are interested in on the site, then you need to link it manually.<br/>
			The necessary tools for it are presented in the navigation bar on the left in the Contribution section.<br/>
		</p>
    </div>
{% endblock %}