{% extends "user_profile/base_container.html" %}

{% block inner_content %}
	<div class="text-center col">
	    <p class="text-gray-400 mb-4 row">Template successfully created.</p>
		
		<a class="mb-4 row" href="{% url 'website:add_forecast_template' %}">
			<button class="btn btn-outline-info" type="button">Create Next Template</button>
		</a>

		<a class="mb-4 row" href="{% url 'website:forecast' %}">
			<button class="btn btn-outline-success" type="button">Go to Forecast page</button>
		</a>

		<a class="mb-4 row" href="{% url 'website:archive' %}">
			<button class="btn btn-outline-success" type="button">Go to Archive page</button>
		</a>

    </div>
{% endblock %}