{% extends "website/connect_source/wizard_form.html" %}

{% block above_form %}

    <div class="text-center">
        <p class="h6 text-gray-400 mb-4">To create a new Forecast Template, follow all the form steps below:</p>
    </div>
        
{% endblock %}

{% block below_form %}
    {% comment %} <button class="btn btn-outline-danger" onclick="javascript:history.back();">Cancel</button> {% endcomment %}
    <a href="{% url 'website:add_location' %}">
        <button class="btn btn-outline-info" type="button">Create New Location</button>
    </a>
{% endblock %}