{% extends "user_profile/base_container.html" %}

{% block inner_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-gray-400">Delete Post</legend>
                <h4 style="color: red">Are you sure you want to delete?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'forum:topic-detail' object.topic.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock%}