{% extends "website/base_container.html" %}

{% block inner_content %}
        <div class="text-center">
            <p class="h6 text-gray-400 mb-4">Please enter your account email.</p>
        </div>
        <form class="user" action="" method="post">
        {% csrf_token %}
          <div class="form-group">
            <input type="email" class="form-control" name="email" maxlength="150" required=""
            id="id_email" placeholder="Email Address" 
            {% if form.email.value %} value="{{ form.email.value }}" {% endif %}>
          </div>
            <input class="btn btn-primary btn-block" type="submit" value="Reset password">
        </form>
{% endblock %}